<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.j3l.question.model.dao.QuestionDao">
	<select id="selectAllQuestion" resultMap="questionMap">
		select
			*
		from
			question
	</select>
	
	<resultMap type="question" id="questionMap"></resultMap>
	
	<insert id="sendQuestion">
		insert into
			question (no, name, phone, email, content, reg_date, type, title)
		values
		(
			seq_question_no.nextval,
			#{name},
			#{phone},
			#{email},
			#{content},
			default,
			#{type},
			#{title}
		)
	</insert>

</mapper>