.cartSection{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cartListTable{
	width: 980px;
	margin-top: 30px;
	border-top: 3px solid #000;
	border-bottom: 1px solid #000;
}

.storeImg{
	width: 90px;
	height: 90px;
}	

.cartListTable>tbody>tr>td, .cartListTable>thead>tr>th{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.storeCountInput{
	width: 45px;
}

.btnStyle{
	background-color: #fb4357;
	color: #fff;
	border: 0;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.selectCinemaTable{
	width: 980px;
	margin-top: 30px;
	border-top: 3px solid #000;
	border-bottom: 1px solid #000;
}

.selectCinemaTable>thead{
	background-color: #f3f3f3;
}

.selectCinemaTable>tbody>tr>td, .selectCinemaTable>thead>tr>th{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.totalPriceTable{
	display: none;
	width: 980px;
	margin-top: 30px;
	border-top: 3px solid #000;
	border-bottom: 1px solid #000;
}

.totalPriceTable>thead{
	background-color: #f3f3f3;
}

.totalPriceTable>tbody>tr>td, .totalPriceTable>thead>tr>th{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 24px;
}

.pointTd{
	font-size: 14px !important;
}

#point{
	width: 300px;
}

#totalPrice{
	color: #fb4357;
}

#payBtn{
	background-size: cover;
	background-image: url("../images/payment_icon_yellow_large.png");
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 80px;
	cursor: pointer;
	margin: 20px 0;
	cursor: pointer;
	display: none;
}