body{
	overflow-x: hidden;
}

#mainSection{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* 동영상 영역 */
#previewBox{
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
}

/* 영화 영역 */
#movieBox{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f8f8f8;
	padding: 50px;
}

#movieFilterBox{
	width: 980px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.movieFilter{
	padding: 0 10px;
	cursor: pointer;
	font-weight: bolder;
	color: #666;
}

.filterSelected{
	color: #000;
}

#movieContainer{
	margin-top: 20px;
	width: 980px;
	overflow-x: scroll;
}

#movieConveyer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 2000px;
}

.movieCard{
	width: 180px;
	margin-right: 20px;
/* 	cursor: pointer; */
}

.moviePoster{
	position: relative;
	width: 180px;
	height: 250px;
	border-radius: 10px;
	background-size: cover;
}

.movieLimitAge{
	position: absolute;
	top: 1;
	left: 1;
	z-index: 2;
}

.movieName{
	width: 100%;
	font-size: 20px;
	text-align: center;
	margin: 10px 0;
	white-space: nowrap;
	text-overflow : ellipsis;
	overflow: hidden;
}

.movieRank{
	position: absolute;
	top: 200px;
	left: 5px;
	color: #fff;
	z-index: 2;
}

/* 이벤트 영역 */
#eventBox{
	width: 100%;
	height: 300px;
}