::after, ::before {
    box-sizing: content-box;
}

.list1{
	box-sizing: content-box;
}

.service_area .list la {
	padding: 24px 20px 25px 17px;
	display: block;
	width: 94px;
	height: 32px;
	color: #222;
	line-height: 150%;
	font-weight: 500;
	background: url(../images/back.png) no-repeat 0 -287px;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
ol, ul, li,  form, label, legend, table, tbody,
thead, tr, th, td {
	font-family:'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif; 
	font-size:100%; 
	margin:0; 
	padding:0; 
	border:0; 
	vertical-align:baseline; 
	word-break:break-all;
}

body, input, textarea, select, button, table {
	/* font-size:13px;  */
	line-height:1.2; 
	/* color:#666; */ 
	font-family:'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif; 
	font-weight:400
}

table thead th {
	font-weight:500;
}

legend {
	font:0/0 a;
	position:absolute;
	right:-999em; 
	top:-999em; 
	zoom:1;
}

a {
	color:inherit; 
	text-decoration:none;
}

*+ html a {
	/* color:#666; */
}

a:focus, a:hover {
	text-decoration:none;
}

a:active {
	background-color:transparent;
}

#contents {
	position:relative; 
	width:980px; 
	margin:0 auto;
}

.head h1 {
	position:absolute; 
	z-index:1;
}

#contaniner {
	position:relative; 
	width:100%; 
	z-index:7
}

#contaniner .contents {
	width:980px; 
	height:100%; 
	margin:0 auto
}

#contents {
	clear:both; 
	padding-bottom:50px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px;
    text-align: start;
    text-align-last: start;
}

.btn-outline-secondary {
	color: white;	
}

.ul1{
	list-style:none;
}

.list {
	list-style:none;
}

.txt {
	list-style:none;
}

.c_tit {
	cursor:pointer;
}

.c_check_warp {
	display: flex;
	justify-content: center;
	align-items: center;
}