.parent {
  	text-align: right;
}

#btn-add {
	background-color: transparent;
	border: none;
	font-size: 30px;
	color: balck;
}

#btn-add:hover {
  cursor: pointer;
  color: #138496;
}

tr[data-no] {
   cursor: pointer;
}

#myElement {
    max-width: 275px;
    height: 38px;
    display: inline-block;
    height: 25px;
    line-height: 22px;
    padding-left: 10px;
    border: 1px solid #b5b5b5;
    margin-right: 5px;
}
 
#se{
    position: relative;
    margin-top: 15px;
    border-bottom: 2px solid #898987;
    height: 35px;
}

html, em, ol, 
ul, li, form, label, legend, table,tbody,
tfoot, thead, tr, th, td {
	font-size:100%;
	margin:0;
	border:0;
	vertical-align:baseline;
	word-break:break-all;
}

body {
	line-height:1.5; 
	color:black; 
}

table {
	width:100%; 
	border-collapse:separate; 
	border-spacing:0;
}

textarea {
	overflow:auto; 
	overflow-x:hidden; 
	vertical-align:top;
}

em {
	font-style:normal;
}

strong {
	font-weight:500;
}

i {
	font-style:normal;
}

html, body {
	height:100%;
}

body, input, textarea, select, button, table {
	line-height:1.5; 
	font-weight:400
}

a:focus, a:hover {
	text-decoration:none;
}

a:active {
	background-color:transparent;
}

textarea:focus, 
select:focus, 
button:focus, 
[type='checkbox']:focus,
[type='radio']:focus,
[tabindex]:focus,
[href]:focus {
	outline:3px solid #ead3d7;
}

hr {
	display:none;
}

table caption {
	font:0/0 a; 
	zoom:1;
}


#contents, .foot, .sect-smuse, .sect-cinfo {
	position:relative; 
	width:980px; 
	margin:0 auto;
	display:flex;
}

.head h1, .sect-srh, .sect-booking,.sect-phototicket {
	position:absolute; 
	z-index:1;
}
.cf:before,.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

#contaniner {
	position:relative; 
	width:100%; 
	z-index:7
}

#contaniner .contents{
	width:980px; 
	height:100%; 
	margin:0 auto
}

#contents {
	clear:both; 
	padding-bottom:50px;
}

.cols-content {
	margin-top:25px;
}

*+html .cols-content { 
	zoom:1;
}

.cols-content:after { 
	content:''; 
	clear:both; 
	display:block;
}

.cols-content .col-detail { 
	position:relative; 
	width:800px; 
	float:left
}

.cols-content .col-aside {
	width:160px; 
	float:right
}

.cols-content .col-detail:first-child { 
	float:left; 
}

.cols-content .col-detail + .col-aside { 
	float:right;
}

.cols-content .col-aside:first-child { 
	float:left;
}

.cols-content .col-aside + .col-detail { 
	float:right;
}

.cols-content .col-aside h2 {
	font:0/0 a; 
	visibility:hidden; 
	zoom:1;
}

.cols-content .col-aside .snb a {
	display:block; 
	position:relative;
}

.cols-content .col-aside .snb > ul {
	margin-bottom:10px;
}

.cols-content .col-aside .snb > ul > li:hover, 
.cols-content .col-aside .snb > ul > li:focus, 
.cols-content .col-aside .snb > ul > li.on {
	margin-top:1px; 
	border-top:0 none;
}

.cols-content .col-aside .snb > ul > li > a {
/* 	width:155px;  */
	height:34px; 
	padding-left:5px; 
	color:#222; 
	font-weight:500; 
	font-size:15px; 
	line-height:34px;
}

.cols-content .col-aside .snb > ul > li:hover > a, 
.cols-content .col-aside .snb > ul > li > a:focus,
.cols-content .col-aside .snb > ul > li.on > a {
	background-color: #f54357; 
	color:#fdfcf0;
}

.cols-content .col-aside .snb > ul > li > a > i {
	display:none;
}

.cols-content .col-aside .snb > ul > li:hover > a > i, 
.cols-content .col-aside .snb > ul > li > a:focus > i,
.cols-content .col-aside .snb > ul > li.on > a > i {
	display:block; 
	position:absolute; 
	top:0; left:-18px; 
	width:18px; 
	height:34px; 
	background:url(../images/common/bg/ribon_left.png) no-repeat 0 0;
}

.tbl_notice_list a {
	display:block;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;  
}

.qu_txt {
	display:inline-block;
	margin:6px 0px 0px 15px;
	width:400px;font-weight:500;
	font-size:12px;
}

.qu_txt .first {
	padding:0 10px 0 0px;
	border-left:0;
}

.qu_txt span {
	padding:0 10px;
	border-left:solid 1px #000;
}

.qu_txt span a:hover, .qu_txt span a:active {
	text-decoration:underline;
}



.tbl_area {
	overflow:hidden;
	padding-top:10px;
}

.tbl_notice_list {
	table-layout:fixed;
	border-top:solid 1px #d6d4ca;
	border-bottom:solid 1px #b8b6aa;
}

.tbl_notice_list .inp_txtbox01 {
	width:100%; 
	resize:none
}

.tbl_notice_list thead th {
	padding:10px 0 8px 0px;
	border-bottom:solid 1px #e1dfd5;
	text-align:center;
	background-color:#f8f8f8;
}

.tbl_notice_list .first td {
	border-top:0;
}

.tbl_notice_list tbody td {
	padding:15px 0px 13px 0px;
	border-top:solid 1px #d6d4ca;
	text-align:center;
}

.tbl_notice_list .tit, .tbl_notice_list .txt {
	text-align:left;
	padding: 10px 15px 8px;
}

.tbl_notice_list .txt a:hover, .tbl_notice_list .txt a:active {
	font-weight:500; 
	text-decoration:underline;
}

.tbl_notice_list .num {
	text-align:center;
}

.form-control {
	max-width: 200px;
}

#btn-add {
  display: inline-block;
  padding: 5px 10px;
  background-color: #666666;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.ul1{
	list-style:none;
	padding: 0;
	margin: 0;
}

.customer_top {
  text-align: center;
}

.input-group {
  	width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group {
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.actors{
	width:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.content2{
	width:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.btn-outline-secondary {
    background: #222222;
    border: 2px solid #222222;
    color: #ffffff;
    line-height: 21px;
    padding: 0 12px;
    border: 1px solid #5b5b58;
    box-sizing: border-box;
    font-size: 12px;
}

.btn-paging {
    display: inline-block;
    min-width: 56px;
    min-height: 40px;
    margin: 0 2px;
    font-weight: 500;
    font-size: 14px;
    color: #222;
    background: url(../images/btn_paging.gif) no-repeat;
    border: 1px solid #d8d8d8;
}

.btn-paging.next {
    margin-left: 16px;
    padding: 8px 24px 0 10px;
    vertical-align: top;
    background-position: calc(100% - 2px) -45px;
    border-radius: 4px;
}

.btn-paging.end {
    min-width: 40px;
    padding: 0;
    vertical-align: top;
    background-position: 12px -149px;
    font: 0/0 a;
    zoom: 1;
    border-radius: 4px;
}

.number {
	line-height: 40px;
	padding: 0 8px;
}

.first{
	padding: 10px;
	line-height: 40px;
}

.btn-paging.prev {
    margin-right: 16px;
    padding: 8px 10px 0 24px;
    vertical-align: top;
    background-position: 2px 7px;
    border-radius: 4px;
}

.contentss{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 25px;
	margin-right: -120px;
}

.c_select{
    height: 25px;
    margin-right: 5px;
}

#button-addon2{
	height: 25px;
}