

/*글쓰기버튼*/
input#btn-add {
	float: right; margin: 0 0 15px; margin-left: 5cm;
}

tr[data-no] {
	cursor: pointer;
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

body {
    font-family: inherit;
    line-height: inherit;
}

.grid-adm-members {
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}

.font-bold {
    font-weight: 700;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.font-bold {
    font-weight: 700;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.font-bold {
    font-weight: 700;
}

.border-b {
    border-bottom-width: 1px;
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
}

*, ::after, ::before {
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

.pt-2 {
    padding-top: 0.5rem;
}

.flex {
    display: flex;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}

.container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
      --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

body {
    font-family: inherit;
    line-height: inherit;
    margin: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}