<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.j3l.movie.model.dao.MovieDao">
	<select id="selectAllMovie" resultMap="movieMap">
		select 
			*
		from
			movie
	</select>
	<resultMap type="movie" id="movieMap"></resultMap>

	<insert id="insertMovie">
		insert into 
			movie (no, title, genre, director, actors, synopsis, limit_age)
		values 
		(
			seq_movie_no.nextval, 
			#{title}, 
			#{genre}, 
			#{director}, 
			#{actors}, 
			#{synopsis}, 
			#{limitAge}
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="no">
			select
				seq_movie_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		insert into
			movie_attachment
		values 
		(
			seq_attachment_no.nextval,
			#{movieNo},
			#{originalFilename},
			#{renamedFilename}
		)
	</insert>
	

</mapper>