<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.j3l.schedule.model.dao.ScheduleDao">

	<select id="selectAllCinema" resultMap="cinemaMap">
		select
			*
		from
			cinema
	</select>
	
	<resultMap type="cinema" id="cinemaMap"></resultMap>

 		

</mapper>